In [4]:
import pandas as pd
import numpy as np #structuring data
import pandas as pd #import and transform data
import seaborn as sn # Generates visuals
import matplotlib as mat #Generates visuals

In [5]:
bike=pd.read_excel("Bike_Sales.xlsx")

In [6]:
bike

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2017-01-01,1,January,2017,17,Youth (<25),M,Canada,British Columbia,Bikes,Road Bikes,"Road-250 Red, 44",2,1519,2443,1848,3038,4886
1,2017-01-01,1,January,2017,23,Youth (<25),M,Australia,Victoria,Bikes,Mountain Bikes,"Mountain-200 Black, 46",2,1252,2295,2086,2504,4590
2,2017-01-01,1,January,2017,33,Young Adults (25-34),F,France,Yveline,Bikes,Road Bikes,"Road-150 Red, 48",2,2171,3578,2814,4342,7156
3,2017-01-01,1,January,2017,39,Adults (35-64),M,United States,Washington,Bikes,Road Bikes,"Road-550-W Yellow, 38",2,713,1120,814,1426,2240
4,2017-01-01,1,January,2017,42,Adults (35-64),M,United States,California,Bikes,Road Bikes,"Road-750 Black, 44",2,344,540,392,688,1080
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113031,2021-12-31,31,December,2021,52,Adults (35-64),F,United Kingdom,England,Bikes,Road Bikes,"Road-250 Black, 58",2,1555,2443,1776,3110,4886
113032,2021-12-31,31,December,2021,25,Young Adults (25-34),F,Germany,Hessen,Bikes,Road Bikes,"Road-550-W Yellow, 38",1,713,1120,407,713,1120
113033,2021-12-31,31,December,2021,26,Young Adults (25-34),M,Australia,Queensland,Bikes,Road Bikes,"Road-550-W Yellow, 42",1,713,1120,407,713,1120
113034,2021-12-31,31,December,2021,33,Young Adults (25-34),F,Australia,New South Wales,Bikes,Mountain Bikes,"Mountain-200 Black, 38",1,1252,2295,1043,1252,2295
113035,2021-12-31,31,December,2021,44,Adults (35-64),M,Australia,Victoria,Bikes,Road Bikes,"Road-550-W Yellow, 42",1,713,1120,407,713,1120

In [7]:
bike.dtypes

Date                datetime64[ns]
Day                          int64
Month                       object
Year                         int64
Customer_Age                 int64
Age_Group                   object
Customer_Gender             object
Country                     object
State                       object
Product_Category            object
Sub_Category                object
Product                     object
Order_Quantity               int64
Unit_Cost                    int64
Unit_Price                   int64
Profit                       int64
Cost                         int64
Revenue                      int64
dtype: object

In [17]:
bike.duplicated().sum()

np.int64(1007)

In [33]:
bikeDrop=bike.drop_duplicates()
print("structure of dataframe",bikeDrop.shape)

structure of dataframe (112029, 18)              Date  Day     Month  Year  Customer_Age             Age_Group  \
0      2017-01-01    1   January  2017            17           Youth (<25)
1      2017-01-01    1   January  2017            23           Youth (<25)
2      2017-01-01    1   January  2017            33  Young Adults (25-34)
3      2017-01-01    1   January  2017            39        Adults (35-64)
4      2017-01-01    1   January  2017            42        Adults (35-64)
...           ...  ...       ...   ...           ...                   ...
113031 2021-12-31   31  December  2021            52        Adults (35-64)
113032 2021-12-31   31  December  2021            25  Young Adults (25-34)
113033 2021-12-31   31  December  2021            26  Young Adults (25-34)
113034 2021-12-31   31  December  2021            33  Young Adults (25-34)
113035 2021-12-31   31  December  2021            44        Adults (35-64)

       Customer_Gender         Country             State Product_Category  \
0                    M          Canada  British Columbia            Bikes
1                    M       Australia          Victoria            Bikes
2                    F          France           Yveline            Bikes
3                    M   United States        Washington            Bikes
4                    M   United States        California            Bikes
...                ...             ...               ...              ...
113031               F  United Kingdom           England            Bikes
113032               F         Germany            Hessen            Bikes
113033               M       Australia        Queensland            Bikes
113034               F       Australia   New South Wales            Bikes
113035               M       Australia          Victoria            Bikes

          Sub_Category                 Product  Order_Quantity  Unit_Cost  \
0           Road Bikes        Road-250 Red, 44               2       1519
1       Mountain Bikes  Mountain-200 Black, 46               2       1252
2           Road Bikes        Road-150 Red, 48               2       2171
3           Road Bikes   Road-550-W Yellow, 38               2        713
4           Road Bikes      Road-750 Black, 44               2        344
...                ...                     ...             ...        ...
113031      Road Bikes      Road-250 Black, 58               2       1555
113032      Road Bikes   Road-550-W Yellow, 38               1        713
113033      Road Bikes   Road-550-W Yellow, 42               1        713
113034  Mountain Bikes  Mountain-200 Black, 38               1       1252
113035      Road Bikes   Road-550-W Yellow, 42               1        713

        Unit_Price  Profit  Cost  Revenue
0             2443    1848  3038     4886
1             2295    2086  2504     4590
2             3578    2814  4342     7156
3             1120     814  1426     2240
4              540     392   688     1080
...            ...     ...   ...      ...
113031        2443    1776  3110     4886
113032        1120     407   713     1120
113033        1120     407   713     1120
113034        2295    1043  1252     2295
113035        1120     407   713     1120

[113036 rows x 18 columns]

In [26]:
bike

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2017-01-01,1,January,2017,17,Youth (<25),M,Canada,British Columbia,Bikes,Road Bikes,"Road-250 Red, 44",2,1519,2443,1848,3038,4886
1,2017-01-01,1,January,2017,23,Youth (<25),M,Australia,Victoria,Bikes,Mountain Bikes,"Mountain-200 Black, 46",2,1252,2295,2086,2504,4590
2,2017-01-01,1,January,2017,33,Young Adults (25-34),F,France,Yveline,Bikes,Road Bikes,"Road-150 Red, 48",2,2171,3578,2814,4342,7156
3,2017-01-01,1,January,2017,39,Adults (35-64),M,United States,Washington,Bikes,Road Bikes,"Road-550-W Yellow, 38",2,713,1120,814,1426,2240
4,2017-01-01,1,January,2017,42,Adults (35-64),M,United States,California,Bikes,Road Bikes,"Road-750 Black, 44",2,344,540,392,688,1080
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113031,2021-12-31,31,December,2021,52,Adults (35-64),F,United Kingdom,England,Bikes,Road Bikes,"Road-250 Black, 58",2,1555,2443,1776,3110,4886
113032,2021-12-31,31,December,2021,25,Young Adults (25-34),F,Germany,Hessen,Bikes,Road Bikes,"Road-550-W Yellow, 38",1,713,1120,407,713,1120
113033,2021-12-31,31,December,2021,26,Young Adults (25-34),M,Australia,Queensland,Bikes,Road Bikes,"Road-550-W Yellow, 42",1,713,1120,407,713,1120
113034,2021-12-31,31,December,2021,33,Young Adults (25-34),F,Australia,New South Wales,Bikes,Mountain Bikes,"Mountain-200 Black, 38",1,1252,2295,1043,1252,2295
113035,2021-12-31,31,December,2021,44,Adults (35-64),M,Australia,Victoria,Bikes,Road Bikes,"Road-550-W Yellow, 42",1,713,1120,407,713,1120

In [18]:
bike.isna().sum()

Date                0
Day                 0
Month               0
Year                0
Customer_Age        0
Age_Group           0
Customer_Gender     0
Country             0
State               0
Product_Category    0
Sub_Category        0
Product             0
Order_Quantity      0
Unit_Cost           0
Unit_Price          0
Profit              0
Cost                0
Revenue             0
dtype: int64

In [20]:
#if data is not substted ge dscription of data
bike.describe(include=object)

,Month,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product
count,113036,113036,113036,113036,113036,113036,113036,113036
unique,12,4,2,6,53,3,17,130
top,June,Adults (35-64),M,United States,California,Accessories,Tires and Tubes,Water Bottle - 30 oz.
freq,11234,55824,58312,39206,22450,70120,33870,10794

In [21]:
bike.columns

Index(['Date', 'Day', 'Month', 'Year', 'Customer_Age', 'Age_Group',
       'Customer_Gender', 'Country', 'State', 'Product_Category',
       'Sub_Category', 'Product', 'Order_Quantity', 'Unit_Cost', 'Unit_Price',
       'Profit', 'Cost', 'Revenue'],
      dtype='object')

In [22]:
bike.dtypes

Date                datetime64[ns]
Day                          int64
Month                       object
Year                         int64
Customer_Age                 int64
Age_Group                   object
Customer_Gender             object
Country                     object
State                       object
Product_Category            object
Sub_Category                object
Product                     object
Order_Quantity               int64
Unit_Cost                    int64
Unit_Price                   int64
Profit                       int64
Cost                         int64
Revenue                      int64
dtype: object

In [23]:
bike.head()

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2017-01-01,1,January,2017,17,Youth (<25),M,Canada,British Columbia,Bikes,Road Bikes,"Road-250 Red, 44",2,1519,2443,1848,3038,4886
1,2017-01-01,1,January,2017,23,Youth (<25),M,Australia,Victoria,Bikes,Mountain Bikes,"Mountain-200 Black, 46",2,1252,2295,2086,2504,4590
2,2017-01-01,1,January,2017,33,Young Adults (25-34),F,France,Yveline,Bikes,Road Bikes,"Road-150 Red, 48",2,2171,3578,2814,4342,7156
3,2017-01-01,1,January,2017,39,Adults (35-64),M,United States,Washington,Bikes,Road Bikes,"Road-550-W Yellow, 38",2,713,1120,814,1426,2240
4,2017-01-01,1,January,2017,42,Adults (35-64),M,United States,California,Bikes,Road Bikes,"Road-750 Black, 44",2,344,540,392,688,1080

In [30]:
category_column = []
continuous_column = []

for column in bike.columns:
    if bike[column].dtype == object or len(bike[column].unique()) < 10:
        category_column.append(column)
    else:
        continuous_column.append(column)

print("categorical column:")
print(category_column)
print("\ncontinuous column:")
print(continuous_column)

categorical column:
['Month', 'Year', 'Age_Group', 'Customer_Gender', 'Country', 'State', 'Product_Category', 'Sub_Category', 'Product']

continuous column:
['Date', 'Day', 'Customer_Age', 'Order_Quantity', 'Unit_Cost', 'Unit_Price', 'Profit', 'Cost', 'Revenue']

In [ ]:
bike_cont=bike[continuous_column]

bike_cont

In [35]:
bike_cat=bike[category_column]

bike_cat

,Month,Year,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product
0,January,2017,Youth (<25),M,Canada,British Columbia,Bikes,Road Bikes,"Road-250 Red, 44"
1,January,2017,Youth (<25),M,Australia,Victoria,Bikes,Mountain Bikes,"Mountain-200 Black, 46"
2,January,2017,Young Adults (25-34),F,France,Yveline,Bikes,Road Bikes,"Road-150 Red, 48"
3,January,2017,Adults (35-64),M,United States,Washington,Bikes,Road Bikes,"Road-550-W Yellow, 38"
4,January,2017,Adults (35-64),M,United States,California,Bikes,Road Bikes,"Road-750 Black, 44"
...,...,...,...,...,...,...,...,...,...
113031,December,2021,Adults (35-64),F,United Kingdom,England,Bikes,Road Bikes,"Road-250 Black, 58"
113032,December,2021,Young Adults (25-34),F,Germany,Hessen,Bikes,Road Bikes,"Road-550-W Yellow, 38"
113033,December,2021,Young Adults (25-34),M,Australia,Queensland,Bikes,Road Bikes,"Road-550-W Yellow, 42"
113034,December,2021,Young Adults (25-34),F,Australia,New South Wales,Bikes,Mountain Bikes,"Mountain-200 Black, 38"
113035,December,2021,Adults (35-64),M,Australia,Victoria,Bikes,Road Bikes,"Road-550-W Yellow, 42"

In [36]:
bike_cont.describe()

,Date,Day,Customer_Age,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
count,113036,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000
mean,2020-01-06 01:36:09.376127744,15.665753,35.919212,11.901660,267.296366,452.938427,372.681358,469.318695,842.000053
min,2017-01-01 00:00:00,1.000000,17.000000,1.000000,1.000000,2.000000,1.000000,1.000000,2.000000
25%,2019-01-09 00:00:00,8.000000,28.000000,2.000000,2.000000,5.000000,39.000000,28.000000,70.000000
50%,2019-10-16 00:00:00,16.000000,35.000000,10.000000,9.000000,24.000000,135.000000,108.000000,245.000000
75%,2021-01-28 00:00:00,23.000000,43.000000,20.000000,42.000000,70.000000,432.000000,432.000000,880.000000
max,2021-12-31 00:00:00,31.000000,87.000000,32.000000,2171.000000,3578.000000,26158.000000,42978.000000,69136.000000
std,NaN,8.781567,11.021936,9.561857,549.835483,922.071219,595.080571,884.866118,1466.202934