In [5]:
import pandas as pd #import and transform-data import seaborn as sn #Generates visuals
import seaborn as sn
import numpy as np #structuring data
import matplotlib as mat #Generates visuals

In [10]:

# Read the CSV file 
student = pd.read_csv("Students.csv", delimiter=';')

# Display the last few rows 
student

,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,17,5,171,1,1,122.0,1,19,12,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,15,1,9254,1,1,160.0,1,1,3,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,9070,1,1,122.0,1,37,37,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,17,2,9773,1,1,122.0,1,38,37,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,39,1,8014,0,1,100.0,1,37,38,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4419,1,1,6,9773,1,1,125.0,1,1,1,...,0,6,8,5,12.666667,0,15.5,2.8,-4.06,Graduate
4420,1,1,2,9773,1,1,120.0,105,1,1,...,0,6,6,2,11.000000,0,11.1,0.6,2.02,Dropout
4421,1,1,1,9500,1,1,154.0,1,37,37,...,0,8,9,1,13.500000,0,13.9,-0.3,0.79,Dropout
4422,1,1,1,9147,1,1,180.0,1,37,37,...,0,5,6,5,12.000000,0,9.4,-0.8,-3.12,Graduate
4423,1,10,1,9773,1,1,152.0,22,38,37,...,0,6,6,6,13.000000,0,12.7,3.7,-1.70,Graduate

~~ a. Understanding the factors that statistically affect a student's "Target" in the education system. ~~

In [92]:
# Manually categorize variables based on their descriptions and number of unique values
cat = [
    'Marital status', 
    'Application mode',  # Categorical based on description
    'Application order',  # Treat as categorical based on description
    'Course',  # Categorical based on description
    'Daytime/evening attendance', 
    'Displaced', 
    'Educational special needs', 
    'Debtor', 
    'Tuition fees up to date', 
    'Gender', 
    'Scholarship holder', 
    'International', 
    'Previous qualification',  # Categorical based on description
    'Nacionality',  # Categorical based on description
    "Mother's qualification",  # Categorical based on description
    "Father's qualification",  # Categorical based on description
    "Mother's occupation",  # Categorical based on description
    "Father's occupation",  # Categorical based on description
    'Target'
]

cont = [
    'Previous qualification (grade)',  # Continuous based on description
    'Admission grade', 
    'Age at enrollment', 
    'Curricular units 1st sem (credited)', 
    'Curricular units 1st sem (enrolled)', 
    'Curricular units 1st sem (evaluations)', 
    'Curricular units 1st sem (approved)', 
    'Curricular units 1st sem (grade)', 
    'Curricular units 1st sem (without evaluations)', 
    'Curricular units 2nd sem (credited)', 
    'Curricular units 2nd sem (enrolled)', 
    'Curricular units 2nd sem (evaluations)', 
    'Curricular units 2nd sem (approved)', 
    'Curricular units 2nd sem (grade)', 
    'Curricular units 2nd sem (without evaluations)', 
    'Unemployment rate', 
    'Inflation rate', 
    'GDP'
]

# Display the categorization
print("Categorical Columns:")
print(cat)
print("\nContinuous Columns:")
print(cont)

Categorical Columns:
['Marital status', 'Application mode', 'Application order', 'Course', 'Daytime/evening attendance', 'Displaced', 'Educational special needs', 'Debtor', 'Tuition fees up to date', 'Gender', 'Scholarship holder', 'International', 'Previous qualification', 'Nacionality', "Mother's qualification", "Father's qualification", "Mother's occupation", "Father's occupation", 'Target']

Continuous Columns:
['Previous qualification (grade)', 'Admission grade', 'Age at enrollment', 'Curricular units 1st sem (credited)', 'Curricular units 1st sem (enrolled)', 'Curricular units 1st sem (evaluations)', 'Curricular units 1st sem (approved)', 'Curricular units 1st sem (grade)', 'Curricular units 1st sem (without evaluations)', 'Curricular units 2nd sem (credited)', 'Curricular units 2nd sem (enrolled)', 'Curricular units 2nd sem (evaluations)', 'Curricular units 2nd sem (approved)', 'Curricular units 2nd sem (grade)', 'Curricular units 2nd sem (without evaluations)', 'Unemployment rate', 'Inflation rate', 'GDP']

# 2

`` To find factors that statistically affect student's target, we will use dython library to generate Cramer's V association results ``

In [58]:
# ANOVA TEST BETWEEN BMI AND HeartDisease

import scipy.stats as stats

#ANOVA tests:
# Defining a function to find the statistical relationship with all the categorical variables
def FunctionAnova(inpData, TargetVariable, CategoricalPredictorList):
    from scipy.stats import f_oneway

    # Creating an empty list of final selected predictors
    SelectedPredictors=[]
    
    print('##### ANOVA Results ##### \n')
    for predictor in CategoricalPredictorList:
        CategoryGroupLists=inpData.groupby(predictor)[TargetVariable].apply(list)
        AnovaResults = f_oneway(*CategoryGroupLists)
        
        # If the ANOVA P-Value is <0.05, that means we reject H0
        if (AnovaResults[1] < 0.05):
            print(predictor, 'is correlated with', TargetVariable, '| P-Value:', AnovaResults[1])
            SelectedPredictors.append(predictor)
        else:
            print(predictor, 'is NOT correlated with', TargetVariable, '| P-Value:', AnovaResults[1])
    
    return(SelectedPredictors)

In [93]:
# Calling the function to check which categorical variables are correlated with target
CategoricalPredictorList=['Target']
for target in cont:
    FunctionAnova(inpData=student, 
                  TargetVariable=target,
                  CategoricalPredictorList=CategoricalPredictorList)

##### ANOVA Results #####

Target is correlated with Previous qualification (grade) | P-Value: 1.0777825583187265e-12
##### ANOVA Results #####

Target is correlated with Admission grade | P-Value: 4.380466113389808e-16
##### ANOVA Results #####

Target is correlated with Age at enrollment | P-Value: 1.138848633132498e-65
##### ANOVA Results #####

Target is correlated with Curricular units 1st sem (credited) | P-Value: 0.00034741579023843204
##### ANOVA Results #####

Target is correlated with Curricular units 1st sem (enrolled) | P-Value: 3.272852432862274e-26
##### ANOVA Results #####

Target is correlated with Curricular units 1st sem (evaluations) | P-Value: 6.897115261247359e-17
##### ANOVA Results #####

Target is correlated with Curricular units 1st sem (approved) | P-Value: 3.64947197e-316
##### ANOVA Results #####

Target is correlated with Curricular units 1st sem (grade) | P-Value: 2.8030516988008087e-269
##### ANOVA Results #####

Target is correlated with Curricular units 1st sem (without evaluations) | P-Value: 1.1108148949404644e-05
##### ANOVA Results #####

Target is correlated with Curricular units 2nd sem (credited) | P-Value: 4.762727668562366e-05
##### ANOVA Results #####

Target is correlated with Curricular units 2nd sem (enrolled) | P-Value: 5.244429976543786e-33
##### ANOVA Results #####

Target is correlated with Curricular units 2nd sem (evaluations) | P-Value: 4.039136880385135e-38
##### ANOVA Results #####

Target is correlated with Curricular units 2nd sem (approved) | P-Value: 0.0
##### ANOVA Results #####

Target is correlated with Curricular units 2nd sem (grade) | P-Value: 0.0
##### ANOVA Results #####

Target is correlated with Curricular units 2nd sem (without evaluations) | P-Value: 1.8763748973385527e-09
##### ANOVA Results #####

Target is correlated with Unemployment rate | P-Value: 0.0026997570380159156
##### ANOVA Results #####

Target is NOT correlated with Inflation rate | P-Value: 0.17529171243976469
##### ANOVA Results #####

Target is correlated with GDP | P-Value: 0.008280870491705995

In [94]:
import warnings
warnings.filterwarnings('ignore')

In [97]:

cat = [col for col in cat if col in student.columns]
cont_df = student[cont]
cat_df = student[cat]

In [98]:
student

,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,17,5,171,1,1,122.0,1,19,12,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,15,1,9254,1,1,160.0,1,1,3,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,9070,1,1,122.0,1,37,37,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,17,2,9773,1,1,122.0,1,38,37,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,39,1,8014,0,1,100.0,1,37,38,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4419,1,1,6,9773,1,1,125.0,1,1,1,...,0,6,8,5,12.666667,0,15.5,2.8,-4.06,Graduate
4420,1,1,2,9773,1,1,120.0,105,1,1,...,0,6,6,2,11.000000,0,11.1,0.6,2.02,Dropout
4421,1,1,1,9500,1,1,154.0,1,37,37,...,0,8,9,1,13.500000,0,13.9,-0.3,0.79,Dropout
4422,1,1,1,9147,1,1,180.0,1,37,37,...,0,5,6,5,12.000000,0,9.4,-0.8,-3.12,Graduate
4423,1,10,1,9773,1,1,152.0,22,38,37,...,0,6,6,6,13.000000,0,12.7,3.7,-1.70,Graduate

In [99]:
# import the required library to generate a contigency table
from scipy.stats import chi2_contingency
# Chi-Square Test between AgeCategory and HeartDisease
# Generate a cross-tabulation between 'AgeCategory' and 'HeartDisease'

for column in cat:
    CrosstabResult = pd.crosstab(index=cat_df['Target'], columns=cat_df[column])
    print(f"Contingency Table for Target and {column}:")
    print(CrosstabResult)
    
    # Perform Chi-square test
    ChiSqResult = chi2_contingency(CrosstabResult)
    print(f'The P-Value of the ChiSq Test for {column} is:', ChiSqResult[1])
    print("\n")
print(CrosstabResult)

# Perform Chi-square test
ChiSqResult = chi2_contingency(CrosstabResult)

print('The P-Value of the ChiSq Test is:', ChiSqResult[1])

Contingency Table for Target and Marital status:
Marital status     1    2  3   4   5  6
Target
Dropout         1184  179  1  42  11  4
Enrolled         720   52  2  16   3  1
Graduate        2015  148  1  33  11  1
The P-Value of the ChiSq Test for Marital status is: 8.054279703889306e-10


Contingency Table for Target and Application mode:
Application mode    1   2   5   7   10  15  16   17  18  26  27   39  42   43  \
Target
Dropout            345   2   2  85   3   5   5  256  45   1   1  435  34  115
Enrolled           300   0   8   7   0  10   8  159  16   0   0  121  11   75
Graduate          1063   1   6  47   7  15  25  457  63   0   0  229  32  122

Application mode  44  51  53  57
Target
Dropout           63  20   4   0
Enrolled          56  13  10   0
Graduate          94  26  21   1
The P-Value of the ChiSq Test for Application mode is: 1.9646567814648798e-77


Contingency Table for Target and Application order:
Application order  0     1    2    3    4   5   6  9
Target
Dropout            0  1053  150   76   58  53  31  0
Enrolled           0   565   96   60   31  25  16  1
Graduate           1  1408  301  173  160  76  90  0
The P-Value of the ChiSq Test for Application order is: 2.272034830371239e-09


Contingency Table for Target and Course:
Course    33    171   8014  9003  9070  9085  9119  9130  9147  9238  9254  \
Target
Dropout      8    82    71    86    51    90    92    78   134    65    96
Enrolled     3    37    21    37    42    75    64    21   108    42    41
Graduate     1    96   123    87   133   172    14    42   138   248   115

Course    9500  9556  9670  9773  9853  9991
Target
Dropout    118    33    95   101    85   136
Enrolled   100    17    48    34    50    54
Graduate   548    36   125   196    57    78
The P-Value of the ChiSq Test for Course is: 2.3165709040666167e-97


Contingency Table for Target and Displaced:
Displaced    0     1
Target
Dropout    752   669
Enrolled   361   433
Graduate   885  1324
The P-Value of the ChiSq Test for Displaced is: 2.8763109461402734e-13


Contingency Table for Target and Educational special needs:
Educational special needs     0   1
Target
Dropout                    1404  17
Enrolled                    783  11
Graduate                   2186  23
The P-Value of the ChiSq Test for Educational special needs is: 0.7254049737386095


Contingency Table for Target and Debtor:
Debtor       0    1
Target
Dropout   1109  312
Enrolled   704   90
Graduate  2108  101
The P-Value of the ChiSq Test for Debtor is: 4.8585521232318114e-57


Contingency Table for Target and Tuition fees up to date:
Tuition fees up to date    0     1
Target
Dropout                  457   964
Enrolled                  42   752
Graduate                  29  2180
The P-Value of the ChiSq Test for Tuition fees up to date is: 1.4716282631420466e-179


Contingency Table for Target and Gender:
Gender       0    1
Target
Dropout    720  701
Enrolled   487  307
Graduate  1661  548
The P-Value of the ChiSq Test for Gender is: 2.2224795668092454e-51


Contingency Table for Target and Scholarship holder:
Scholarship holder     0    1
Target
Dropout             1287  134
Enrolled             664  130
Graduate            1374  835
The P-Value of the ChiSq Test for Scholarship holder is: 9.593930375514133e-90


Contingency Table for Target and International:
International     0   1
Target
Dropout        1389  32
Enrolled        770  24
Graduate       2155  54
The P-Value of the ChiSq Test for International is: 0.5273143969362435


Contingency Table for Target and Previous qualification:
Previous qualification    1   2   3   4   5   6   9   10  12  14  15   19  38  \
Target
Dropout                 1078  16  75   4   1   7  11   3  26   1   1  104   3
Enrolled                 698   1   4   1   0   1   0   0   6   0   0   13   1
Graduate                1941   6  47   3   0   8   0   1  13   0   1   45   3

Previous qualification  39  40  42  43
Target
Dropout                 69  14   6   2
Enrolled                55   6   8   0
Graduate                95  20  22   4
The P-Value of the ChiSq Test for Previous qualification is: 7.160305160682533e-30


Contingency Table for Target and Nacionality:
Nacionality   1    2    6    11   13   14   17   21   22   24   ...  26   32   \
Target                                                          ...
Dropout      1389    0    4    0    0    0    1    1    4    1  ...    1    0
Enrolled      770    0    5    0    0    0    0    1    1    0  ...    5    1
Graduate     2155    2    4    3    1    1    0    0    8    4  ...    8    0

Nacionality  41   62   100  101  103  105  108  109
Target
Dropout       14    0    2    1    1    1    0    1
Enrolled       6    1    1    0    0    1    1    0
Graduate      18    1    0    1    2    0    0    0

[3 rows x 21 columns]
The P-Value of the ChiSq Test for Nacionality is: 0.24222552059446323


Contingency Table for Target and Mother's qualification:
Mother's qualification   1   2    3   4   5   6   9   10  11  12  ...  35  36  \
Target                                                            ...
Dropout                 300  20  139   8   8   3   5   2   2  22  ...   2   2
Enrolled                204  23  101  15   5   0   0   0   0   3  ...   0   0
Graduate                565  40  198  26   8   1   3   1   1  17  ...   1   1

Mother's qualification   37   38  39  40  41  42  43  44
Target
Dropout                 383  140   4   3   2   2   1   1
Enrolled                169   91   2   1   0   0   1   0
Graduate                457  331   2   5   4   2   2   0

[3 rows x 29 columns]
The P-Value of the ChiSq Test for Mother's qualification is: 5.823844464375135e-21


Contingency Table for Target and Father's qualification:
Father's qualification   1   2    3   4   5   6   9   10  11  12  ...  35  36  \
Target                                                            ...
Dropout                 281  22   90  14  10   2   1   2   4  14  ...   2   5
Enrolled                172  25   62   7   3   0   0   0   0   4  ...   0   0
Graduate                451  21  130  18   5   0   4   0   6  20  ...   0   3

Father's qualification   37   38  39  40  41  42  43  44
Target
Dropout                 432  167   8   3   1   0   0   1
Enrolled                199  127   7   0   1   0   0   0
Graduate                578  408   5   2   0   1   2   0

[3 rows x 34 columns]
The P-Value of the ChiSq Test for Father's qualification is: 3.1750069943476595e-19


Contingency Table for Target and Mother's occupation:
Mother's occupation  0    1    2    3    4    5    6    7    8    9    ...  \
Target                                                                 ...
Dropout               99   39  102   95  248  156   26   80   15  490  ...
Enrolled               1   15   78   79  147   94   14   48    7  264  ...
Graduate              44   48  138  177  422  280   51  144   14  823  ...

Mother's occupation  151  152  153  171  173  175  191  192  193  194
Target
Dropout                0    0    0    0    0    1    0    0    1    1
Enrolled               1    1    0    0    1    2   11    3    0    7
Graduate               2    1    2    1    0    2   15    2    3    3

[3 rows x 32 columns]
The P-Value of the ChiSq Test for Mother's occupation is: 1.63085860350197e-31


Contingency Table for Target and Father's occupation:
Father's occupation  0    1    2    3    4    5    6    7    8    9    ...  \
Target                                                                 ...
Dropout               82   48   70  114  139  148   69  184   94  323  ...
Enrolled               3   23   50   63   74  107   48  111   55  163  ...
Graduate              43   63   77  207  173  261  125  371  169  524  ...

Father's occupation  172  174  175  181  182  183  192  193  194  195
Target
Dropout                0    0    0    0    0    0    0    2    1    0
Enrolled               1    0    2    1    1    2    2    8    0    0
Graduate               1    1    2    2    1    1    4    5    1    1

[3 rows x 46 columns]
The P-Value of the ChiSq Test for Father's occupation is: 4.515438562519149e-19


Contingency Table for Target and Target:
Target    Dropout  Enrolled  Graduate
Target
Dropout      1421         0         0
Enrolled        0       794         0
Graduate        0         0      2209
The P-Value of the ChiSq Test for Target is: 0.0


Target    Dropout  Enrolled  Graduate
Target
Dropout      1421         0         0
Enrolled        0       794         0
Graduate        0         0      2209
The P-Value of the ChiSq Test is: 0.0

The ANOVA results indicate that these continuous variables are significantly correlated with the "Target" variable suggesting that these factors statistically affect a student's "Target" in the education system.

The following continuous variables are significantly correlated with the "Target" variable:

Application mode
Application order
Previous qualification
Previous qualification (grade)
Mother's qualification
Father's qualification
Mother's occupation
Father's occupation
Admission grade
Age at enrollment
Curricular units 1st sem (credited)
Curricular units 1st sem (enrolled)
Curricular units 1st sem (evaluations)
Curricular units 1st sem (approved)
Curricular units 1st sem (grade)
Curricular units 1st sem (without evaluations)
Curricular units 2nd sem (credited)
Curricular units 2nd sem (enrolled)
Curricular units 2nd sem (evaluations)
Curricular units 2nd sem (approved)
Curricular units 2nd sem (grade)
Curricular units 2nd sem (without evaluations)
Unemployment rate
GDP

In [100]:
# Import the required library to generate a contingency table
from scipy.stats import chi2_contingency

# Chi-Square Test between Target and other categorical variables
for column in cat:
    CrosstabResult = pd.crosstab(index=cat_df['Target'], columns=cat_df[column])
    
    # Perform Chi-square test
    ChiSqResult = chi2_contingency(CrosstabResult)
    print(f'The P-Value of the ChiSq Test for {column} is:', ChiSqResult[1])
    print("\n")

The P-Value of the ChiSq Test for Marital status is: 8.054279703889306e-10


The P-Value of the ChiSq Test for Application mode is: 1.9646567814648798e-77


The P-Value of the ChiSq Test for Application order is: 2.272034830371239e-09


The P-Value of the ChiSq Test for Course is: 2.3165709040666167e-97


The P-Value of the ChiSq Test for Displaced is: 2.8763109461402734e-13


The P-Value of the ChiSq Test for Educational special needs is: 0.7254049737386095


The P-Value of the ChiSq Test for Debtor is: 4.8585521232318114e-57


The P-Value of the ChiSq Test for Tuition fees up to date is: 1.4716282631420466e-179


The P-Value of the ChiSq Test for Gender is: 2.2224795668092454e-51


The P-Value of the ChiSq Test for Scholarship holder is: 9.593930375514133e-90


The P-Value of the ChiSq Test for International is: 0.5273143969362435


The P-Value of the ChiSq Test for Previous qualification is: 7.160305160682533e-30


The P-Value of the ChiSq Test for Nacionality is: 0.24222552059446323


The P-Value of the ChiSq Test for Mother's qualification is: 5.823844464375135e-21


The P-Value of the ChiSq Test for Father's qualification is: 3.1750069943476595e-19


The P-Value of the ChiSq Test for Mother's occupation is: 1.63085860350197e-31


The P-Value of the ChiSq Test for Father's occupation is: 4.515438562519149e-19


The P-Value of the ChiSq Test for Target is: 0.0

# QUESTION b)

In [75]:
health=pd.read_csv("healthcare_dataset.csv")

In [64]:
health

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
0,Bobby JacksOn,30,Male,B-,Cancer,2024-01-31,Matthew Smith,Sons and Miller,Blue Cross,18856.281306,328,Urgent,2024-02-02,Paracetamol,Normal
1,LesLie TErRy,62,Male,A+,Obesity,2019-08-20,Samantha Davies,Kim Inc,Medicare,33643.327287,265,Emergency,2019-08-26,Ibuprofen,Inconclusive
2,DaNnY sMitH,76,Female,A-,Obesity,2022-09-22,Tiffany Mitchell,Cook PLC,Aetna,27955.096079,205,Emergency,2022-10-07,Aspirin,Normal
3,andrEw waTtS,28,Female,O+,Diabetes,2020-11-18,Kevin Wells,"Hernandez Rogers and Vang,",Medicare,37909.782410,450,Elective,2020-12-18,Ibuprofen,Abnormal
4,adrIENNE bEll,43,Female,AB+,Cancer,2022-09-19,Kathleen Hanna,White-White,Aetna,14238.317814,458,Urgent,2022-10-09,Penicillin,Abnormal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55495,eLIZABeTH jaCkSOn,42,Female,O+,Asthma,2020-08-16,Joshua Jarvis,Jones-Thompson,Blue Cross,2650.714952,417,Elective,2020-09-15,Penicillin,Abnormal
55496,KYle pEREz,61,Female,AB-,Obesity,2020-01-23,Taylor Sullivan,Tucker-Moyer,Cigna,31457.797307,316,Elective,2020-02-01,Aspirin,Normal
55497,HEATher WaNG,38,Female,B+,Hypertension,2020-07-13,Joe Jacobs DVM,"and Mahoney Johnson Vasquez,",UnitedHealthcare,27620.764717,347,Urgent,2020-08-10,Ibuprofen,Abnormal
55498,JENniFER JOneS,43,Male,O-,Arthritis,2019-05-25,Kimberly Curry,"Jackson Todd and Castro,",Medicare,32451.092358,321,Elective,2019-05-31,Ibuprofen,Abnormal
55499,jAMES GARCiA,53,Female,O+,Arthritis,2024-04-02,Dennis Warren,Henry Sons and,Aetna,4010.134172,448,Urgent,2024-04-29,Ibuprofen,Abnormal

In [76]:
# Identify variables by their data types
catH = []
contH = []

for column in health.columns:
    if health[column].dtype == object or len(health[column].unique()) <= 7:
        catH.append(column)
    else:
        contH.append(column)

# Display the categorization
print("Categorical Columns:")
print(catH)
print("\nContinuous Columns:")
print(contH)

Categorical Columns:
['Name', 'Gender', 'Blood Type', 'Medical Condition', 'Date of Admission', 'Doctor', 'Hospital', 'Insurance Provider', 'Admission Type', 'Discharge Date', 'Medication', 'Test Results']

Continuous Columns:
['Age', 'Billing Amount', 'Room Number']

In [81]:
unique_medications = health['Medication'].nunique()
print(f'The number of unique entries in the Medication variable is: {unique_medications}')

The number of unique entries in the Medication variable is: 5

In [77]:
# ANOVA TEST BETWEEN BMI AND HeartDisease

import scipy.stats as stats

#ANOVA tests:
# Defining a function to find the statistical relationship with all the categorical variables
def FunctionAnova(inpData, TargetVariable, CategoricalPredictorList):
    from scipy.stats import f_oneway

    # Creating an empty list of final selected predictors
    SelectedPredictors=[]
    
    print('##### ANOVA Results ##### \n')
    for predictor in CategoricalPredictorList:
        CategoryGroupLists=inpData.groupby(predictor)[TargetVariable].apply(list)
        AnovaResults = f_oneway(*CategoryGroupLists)
        
        # If the ANOVA P-Value is <0.05, that means we reject H0
        if (AnovaResults[1] < 0.05):
            print(predictor, 'is correlated with', TargetVariable, '| P-Value:', AnovaResults[1])
            SelectedPredictors.append(predictor)
        else:
            print(predictor, 'is NOT correlated with', TargetVariable, '| P-Value:', AnovaResults[1])
    
    return(SelectedPredictors)

In [83]:
contH

['Age', 'Billing Amount', 'Room Number']

In [84]:
# Calling the function to check which categorical variables are correlated with target
CategoricalPredictorList=['Medication']
for target in contH:
    FunctionAnova(inpData=health, 
                  TargetVariable=target,
                  CategoricalPredictorList=CategoricalPredictorList)

##### ANOVA Results #####

Medication is NOT correlated with Age | P-Value: 0.2736872977824647
##### ANOVA Results #####

Medication is NOT correlated with Billing Amount | P-Value: 0.3360324287216371
##### ANOVA Results #####

Medication is NOT correlated with Room Number | P-Value: 0.35769796475072907

BETWEEN CATEGORICAL

In [85]:
cont_dfH = health[contH]
cat_dfH = health[catH]

In [86]:
# import the required library to generate a contigency table
from scipy.stats import chi2_contingency
# Chi-Square Test between AgeCategory and HeartDisease
# Generate a cross-tabulation between 'AgeCategory' and 'HeartDisease'

for column in catH:
    CrosstabResult = pd.crosstab(index=cat_dfH['Medication'], columns=cat_dfH[column])
    print(f"Contingency Table for Target and {column}:")
    print(CrosstabResult)
    
    # Perform Chi-square test
    ChiSqResult = chi2_contingency(CrosstabResult)
    print(f'The P-Value of the ChiSq Test for {column} is:', ChiSqResult[1])
    print("\n")
print(CrosstabResult)

# Perform Chi-square test
ChiSqResult = chi2_contingency(CrosstabResult)

print('The P-Value of the ChiSq Test is:', ChiSqResult[1])

Contingency Table for Target and Name:
Name         AARON DuncAn  AARON HicKS  AARON bAldWIN Jr.  AARON hAWkIns  \
Medication
Aspirin                 0            0                  0              0
Ibuprofen               0            0                  0              0
Lipitor                 0            1                  0              0
Paracetamol             1            0                  1              0
Penicillin              0            0                  0              1

Name         AAROn HaRt  AAROn wiLsON  AARoN FOSTer  AARoN HOPkINs  \
Medication
Aspirin               0             1             0              0
Ibuprofen             0             0             0              0
Lipitor               0             0             1              0
Paracetamol           1             0             0              1
Penicillin            0             0             0              0

Name         AARoN grEEnE  AARon OnEal  ...  zachAry LYONs  zachAry VAzquEz  \
Medication                              ...
Aspirin                 1            0  ...              1                0
Ibuprofen               0            0  ...              0                0
Lipitor                 0            1  ...              0                1
Paracetamol             0            0  ...              0                0
Penicillin              0            0  ...              0                0

Name         zachaRY RanGEl  zachaRy ANderSoN  zachaRy CarTEr  zachaRy huLL  \
Medication
Aspirin                   0                 0               0             0
Ibuprofen                 1                 0               0             0
Lipitor                   0                 0               0             1
Paracetamol               0                 1               1             0
Penicillin                0                 0               0             0

Name         zachaRy oDOM  zachaRy raMirEZ  zacharY BauTista  zachary WALl
Medication
Aspirin                 0                1                 2             0
Ibuprofen               0                0                 0             0
Lipitor                 0                0                 0             0
Paracetamol             1                0                 0             0
Penicillin              0                0                 0             1

[5 rows x 49992 columns]
The P-Value of the ChiSq Test for Name is: 1.2313064456450776e-247


Contingency Table for Target and Gender:
Gender       Female  Male
Medication
Aspirin        5622  5472
Ibuprofen      5593  5534
Lipitor        5551  5589
Paracetamol    5432  5639
Penicillin     5528  5540
The P-Value of the ChiSq Test for Gender is: 0.1769963078457054


Contingency Table for Target and Blood Type:
Blood Type     A+    A-   AB+   AB-    B+    B-    O+    O-
Medication
Aspirin      1423  1432  1347  1360  1372  1413  1372  1375
Ibuprofen    1429  1370  1394  1365  1373  1407  1424  1365
Lipitor      1385  1402  1402  1362  1450  1382  1378  1379
Paracetamol  1374  1427  1372  1403  1357  1345  1423  1370
Penicillin   1345  1338  1432  1455  1393  1397  1320  1388
The P-Value of the ChiSq Test for Blood Type is: 0.5191487795399271


Contingency Table for Target and Medical Condition:
Medical Condition  Arthritis  Asthma  Cancer  Diabetes  Hypertension  Obesity
Medication
Aspirin                 1918    1802    1786      1858          1865     1865
Ibuprofen               1822    1827    1873      1861          1893     1851
Lipitor                 1825    1823    1922      1893          1848     1829
Paracetamol             1877    1888    1853      1811          1849     1793
Penicillin              1866    1845    1793      1881          1790     1893
The P-Value of the ChiSq Test for Medical Condition is: 0.42094866399098385


Contingency Table for Target and Date of Admission:
Date of Admission  2019-05-08  2019-05-09  2019-05-10  2019-05-11  2019-05-12  \
Medication
Aspirin                     3           7           2           6           4
Ibuprofen                   6           9           8           8           7
Lipitor                     8          11           1           4          11
Paracetamol                 5           6           3           1           7
Penicillin                  5           5           3           6           7

Date of Admission  2019-05-13  2019-05-14  2019-05-15  2019-05-16  2019-05-17  \
Medication
Aspirin                     5           7          11           4          11
Ibuprofen                   3           5           8           6           8
Lipitor                     7           9           9           9           5
Paracetamol                 7           5           6           3           6
Penicillin                  1           7           5           5           5

Date of Admission  ...  2024-04-28  2024-04-29  2024-04-30  2024-05-01  \
Medication         ...
Aspirin            ...           7           8          11           5
Ibuprofen          ...           7           7          13          13
Lipitor            ...           9           3           3           5
Paracetamol        ...           4           4           9           3
Penicillin         ...          11           7           7           5

Date of Admission  2024-05-02  2024-05-03  2024-05-04  2024-05-05  2024-05-06  \
Medication
Aspirin                    10           5           6           5           5
Ibuprofen                   4           8           9           6           6
Lipitor                     5           7           4           6           5
Paracetamol                11           6           2           4           9
Penicillin                  5           5           3           5           8

Date of Admission  2024-05-07
Medication
Aspirin                     8
Ibuprofen                   6
Lipitor                     6
Paracetamol                 8
Penicillin                  5

[5 rows x 1827 columns]
The P-Value of the ChiSq Test for Date of Admission is: 3.6188243035958106e-25


Contingency Table for Target and Doctor:
Doctor       Aaron Acevedo  Aaron Adams  Aaron Aguilar  Aaron Alexander  \
Medication
Aspirin                  0            0              1                1
Ibuprofen                0            0              0                0
Lipitor                  0            0              0                0
Paracetamol              1            1              0                0
Penicillin               0            0              0                0

Doctor       Aaron Anderson  Aaron Arnold  Aaron Baker  Aaron Barker  \
Medication
Aspirin                   0             0            0             0
Ibuprofen                 0             0            1             0
Lipitor                   0             0            0             0
Paracetamol               1             0            0             0
Penicillin                0             1            1             1

Doctor       Aaron Barrett  Aaron Barry  ...  Zachary Young  Zachary Zuniga  \
Medication                               ...
Aspirin                  0            0  ...              0               0
Ibuprofen                0            1  ...              0               0
Lipitor                  0            0  ...              0               0
Paracetamol              1            0  ...              0               0
Penicillin               0            0  ...              1               1

Doctor       Zoe Alexander  Zoe Avery  Zoe Contreras  Zoe Khan  Zoe Knight  \
Medication
Aspirin                  0          0              0         0           0
Ibuprofen                0          1              0         0           1
Lipitor                  0          0              1         1           0
Paracetamol              1          0              0         0           0
Penicillin               0          0              0         0           0

Doctor       Zoe Nichols  Zoe Roberts  Zoe Wallace
Medication
Aspirin                0            0            0
Ibuprofen              0            0            0
Lipitor                1            0            0
Paracetamol            0            0            0
Penicillin             0            1            1

[5 rows x 40341 columns]
The P-Value of the ChiSq Test for Doctor is: 3.054178762148424e-225


Contingency Table for Target and Hospital:
Hospital     Abbott Inc  Abbott Ltd  Abbott Moore and Williams,  \
Medication
Aspirin               0           0                           0
Ibuprofen             0           0                           0
Lipitor               1           0                           1
Paracetamol           0           1                           0
Penicillin            0           0                           0

Hospital     Abbott and Thompson, Sullivan  Abbott, Peters and Hoffman  \
Medication
Aspirin                                  1                           0
Ibuprofen                                0                           0
Lipitor                                  0                           2
Paracetamol                              0                           0
Penicillin                               0                           0

Hospital     Abbott, Vazquez Bautista and  Abbott-Castillo  Abbott-Coleman  \
Medication
Aspirin                                 0                0               0
Ibuprofen                               0                1               0
Lipitor                                 0                0               0
Paracetamol                             0                0               1
Penicillin                              1                0               0

Hospital     Abbott-Ferrell  Abbott-Hill  ...  and Zhang Heath, Stafford  \
Medication                                ...
Aspirin                   0            0  ...                          0
Ibuprofen                 0            1  ...                          0
Lipitor                   1            0  ...                          1
Paracetamol               0            0  ...                          0
Penicillin                0            0  ...                          0

Hospital     and Zhang Underwood, Martin  and Zimmerman Carter Brooks,  \
Medication
Aspirin                                0                             0
Ibuprofen                              0                             0
Lipitor                                1                             0
Paracetamol                            0                             0
Penicillin                             0                             1

Hospital     and Zimmerman Castillo, Santos  and Zimmerman Davenport, Martin  \
Medication
Aspirin                                   1                                0
Ibuprofen                                 0                                0
Lipitor                                   0                                0
Paracetamol                               0                                0
Penicillin                                0                                2

Hospital     and Zimmerman Sons  and Zuniga Davis Carlson,  \
Medication
Aspirin                       0                          1
Ibuprofen                     1                          0
Lipitor                       0                          0
Paracetamol                   0                          0
Penicillin                    0                          0

Hospital     and Zuniga Francis Peterson,  and Zuniga Sons  \
Medication
Aspirin                                 0                0
Ibuprofen                               0                1
Lipitor                                 1                0
Paracetamol                             0                0
Penicillin                              0                0

Hospital     and Zuniga Thompson, Blake
Medication
Aspirin                               0
Ibuprofen                             0
Lipitor                               1
Paracetamol                           0
Penicillin                            0

[5 rows x 39876 columns]
The P-Value of the ChiSq Test for Hospital is: 1.4799708897667085e-209


Contingency Table for Target and Insurance Provider:
Insurance Provider  Aetna  Blue Cross  Cigna  Medicare  UnitedHealthcare
Medication
Aspirin              2167        2235   2280      2245              2167
Ibuprofen            2125        2193   2240      2279              2290
Lipitor              2197        2254   2266      2192              2231
Paracetamol          2219        2189   2224      2236              2203
Penicillin           2205        2188   2239      2202              2234
The P-Value of the ChiSq Test for Insurance Provider is: 0.8301930278191816


Contingency Table for Target and Admission Type:
Admission Type  Elective  Emergency  Urgent
Medication
Aspirin             3784       3624    3686
Ibuprofen           3734       3654    3739
Lipitor             3667       3666    3807
Paracetamol         3737       3674    3660
Penicillin          3733       3651    3684
The P-Value of the ChiSq Test for Admission Type is: 0.69145646695861


Contingency Table for Target and Discharge Date:
Discharge Date  2019-05-09  2019-05-10  2019-05-11  2019-05-12  2019-05-13  \
Medication
Aspirin                  0           0           0           0           0
Ibuprofen                1           1           1           2           2
Lipitor                  0           1           0           2           0
Paracetamol              0           1           1           2           2
Penicillin               0           1           0           0           2

Discharge Date  2019-05-14  2019-05-15  2019-05-16  2019-05-17  2019-05-18  \
Medication
Aspirin                  1           1           4           1           3
Ibuprofen                0           1           2           3           2
Lipitor                  2           3           1           0           1
Paracetamol              0           3           0           2           1
Penicillin               1           1           1           1           3

Discharge Date  ...  2024-05-28  2024-05-29  2024-05-30  2024-05-31  \
Medication      ...
Aspirin         ...           2           1           3           0
Ibuprofen       ...           2           5           3           3
Lipitor         ...           1           4           2           0
Paracetamol     ...           3           1           0           1
Penicillin      ...           4           0           2           0

Discharge Date  2024-06-01  2024-06-02  2024-06-03  2024-06-04  2024-06-05  \
Medication
Aspirin                  1           1           1           0           0
Ibuprofen                1           1           2           2           0
Lipitor                  2           1           0           0           0
Paracetamol              2           1           1           0           2
Penicillin               2           0           1           0           0

Discharge Date  2024-06-06
Medication
Aspirin                  0
Ibuprofen                0
Lipitor                  0
Paracetamol              0
Penicillin               1

[5 rows x 1856 columns]
The P-Value of the ChiSq Test for Discharge Date is: 3.867295193870063e-34


Contingency Table for Target and Medication:
Medication   Aspirin  Ibuprofen  Lipitor  Paracetamol  Penicillin
Medication
Aspirin        11094          0        0            0           0
Ibuprofen          0      11127        0            0           0
Lipitor            0          0    11140            0           0
Paracetamol        0          0        0        11071           0
Penicillin         0          0        0            0       11068
The P-Value of the ChiSq Test for Medication is: 0.0


Contingency Table for Target and Test Results:
Test Results  Abnormal  Inconclusive  Normal
Medication
Aspirin           3732          3624    3738
Ibuprofen         3747          3645    3735
Lipitor           3707          3746    3687
Paracetamol       3737          3681    3653
Penicillin        3704          3660    3704
The P-Value of the ChiSq Test for Test Results is: 0.8805297989370955


Test Results  Abnormal  Inconclusive  Normal
Medication
Aspirin           3732          3624    3738
Ibuprofen         3747          3645    3735
Lipitor           3707          3746    3687
Paracetamol       3737          3681    3653
Penicillin        3704          3660    3704
The P-Value of the ChiSq Test is: 0.8805297989370955

In [88]:
# Import the required library to generate a contingency table
from scipy.stats import chi2_contingency

# Chi-Square Test between Target and other categorical variables
for column in catH:
    CrosstabResult = pd.crosstab(index=cat_dfH['Medication'], columns=cat_dfH[column])
    
    # Perform Chi-square test
    ChiSqResult = chi2_contingency(CrosstabResult)
    print(f'The P-Value of the ChiSq Test for {column} is:', ChiSqResult[1])
    print("\n")

The P-Value of the ChiSq Test for Name is: 1.2313064456450776e-247


The P-Value of the ChiSq Test for Gender is: 0.1769963078457054


The P-Value of the ChiSq Test for Blood Type is: 0.5191487795399271


The P-Value of the ChiSq Test for Medical Condition is: 0.42094866399098385


The P-Value of the ChiSq Test for Date of Admission is: 3.6188243035958106e-25


The P-Value of the ChiSq Test for Doctor is: 3.054178762148424e-225


The P-Value of the ChiSq Test for Hospital is: 1.4799708897667085e-209


The P-Value of the ChiSq Test for Insurance Provider is: 0.8301930278191816


The P-Value of the ChiSq Test for Admission Type is: 0.69145646695861


The P-Value of the ChiSq Test for Discharge Date is: 3.867295193870063e-34


The P-Value of the ChiSq Test for Medication is: 0.0


The P-Value of the ChiSq Test for Test Results is: 0.8805297989370955

These categorical variables have very low p-values ( less than 0.05), indicating a statistically significant association with the "Medication" variable:

Date of Admission: P-Value: 3.62e-25
Doctor: P-Value: 3.05e-225
Hospital: P-Value: 1.48e-209
Discharge Date: P-Value: 3.87e-34